.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.content .header {
    width: 100%;
}

.content .body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* :deep() .van-tree-select__item--active {
  color: #1961AC;
} */

.filter-form {
    padding-top: 10px;
    font-size: 14px;
}

.filter-form .option {
    padding-bottom: 3px;
    display: inline-block;
    color: #828B9B;
}

.filter-form .van-col {
    height: 50pt;
}